In [1]:
import seaborn as sns

In [2]:
import numpy as np

In [12]:
import pandas as pd

In [138]:
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv('Neodon_nuclear_mean_distance.csv')

In [ ]:
df = pd.read_csv

In [15]:
df.head()

                sp1                   sp2    mean
0  Neodon_bomiensis  Neodon_bershulaensis  0.0025
1  Neodon_bomiensis        Neodon_clarkei  0.0017
2  Neodon_bomiensis       Neodon_forresti  0.0053
3  Neodon_bomiensis          Neodon_irene  0.0043
4  Neodon_bomiensis    Neodon_linzhiensis  0.0054

In [ ]:
for row in df.iterrows():
    print(row[1][2])

In [83]:
def df2dict_threeColumns(df=None, self2self=0):
    k1_k2_val = {}
    for row in df.iterrows():
        k1, k2, val = row[1]
        
        if k1 not in k1_k2_val:
            k1_k2_val.setdefault(k1, {})
        k1_k2_val[k1][k2] = float(val)
        k1_k2_val[k1][k1] = float(self2self)
        
        if k2 not in k1_k2_val:
            k1_k2_val.setdefault(k2, {})
        k1_k2_val[k2][k1] = float(val)
        k1_k2_val[k2][k2] = float(self2self)

    return k1_k2_val

In [84]:
a = df2dict_threeColumns(df)

In [85]:
spp = sorted(a.keys())

In [130]:
spp_clade_ordered = ['Neodon_leucurus',
 'Neodon_fuscus']

In [129]:
def dict2matrix(k1_k2_val=None, file=None, keys=None):
    if not keys:
        spp = sorted(k1_k2_val.keys())
    else:
        spp = keys
    print('Values', '\t'.join(spp), sep='\t',file=fhout)
    for k1 in spp:
        print(k1, end='', file=fhout)
        for k2 in spp:
            print('\t', k1_k2_val[k1][k2], sep='', end='', file=fhout)
        print(file=fhout)

In [131]:
with open('matrix.tbl', 'w') as fhout:
    dict2matrix(a, file=fhout, keys=spp_clade_ordered)

In [133]:
df2 = pd.read_table('matrix.tbl')

In [134]:
df3 = df2.set_index('Values')

In [ ]:
fig = plt.figure(figsize=(10,8))
ax = sns.heatmap(df3, cmap='YlGnBu', annot=False)
fig.tight_layout()
ax.figure.savefig('Neodon_nuclear_dist.pdf')

In [ ]:
fig = plt.figure(figsize=(15,13))
ax = sns.heatmap(df3, cmap='YlGnBu', annot=True)
ax.set_title('Nuclear genetic distance')
fig.tight_layout()
ax.figure.savefig('Neodon_nuclear_dist_values.pdf')